{% extends 'base.html' %}

{% block body %}
    <div class="container-lg">

        <div class="lite-header mb-3">
            <span><h1>Введите характеристики</h1></span>
            <!-- load file -->
            <span><input class="form-control main-file-input" id="formFileLg" type="file"></span>
        </div>

        <form action="{% url 'index' %}" method="post">
            {% csrf_token %}

            <div class="row">
                <div class="col-4">
                    <br>
                    <hr>
                    <!-- checkboxes -->
                    {% for bin_field in form %}
                        {% if bin_field.widget_type == 'checkbox' %}
                            <div class="form-check mt-2">
                                {{ bin_field }}
                                <label class="form-check-label" for="{{ bin_field.id_for_label }}">
                                    {{ bin_field.label }}
                                </label>
                            </div>
                        {% endif %}
                    {% endfor %}

                    <hr>
                    {{ form.gender }}
                </div>

                <div class="col-8">
                    <br>
                    <!-- input fields -->
                    <div class="input-group mt-2">
                        <label class="input-group-text"
                               for="{{ form.birth_year.id_for_label }}">{{ form.birth_year.label }}</label>
                        {{ form.birth_year }}
                    </div>

                    <div class="input-group mt-2">
                        <label class="input-group-text"
                               for="{{ form.city.id_for_label }}">{{ form.city.label }}</label>
                        {{ form.city }}
                    </div>

                    <div class="input-group mt-2">
                        <label class="input-group-text"
                               for="{{ form.education_type.id_for_label }}">{{ form.education_type.label }}</label>
                        {{ form.education_type }}
                    </div>

                    {#                    <div class="input-group mt-2">#}
                    {#                        <label class="input-group-text"#}
                    {#                               for="{{ form.income_type.id_for_label }}">{{ form.income_type.label }}</label>#}
                    {#                        {{ form.income_type }}#}
                    {#                    </div>#}

                    <div class="input-group mt-2">
                        <label class="input-group-text"
                               for="{{ form.salary.id_for_label }}">{{ form.salary.label }}</label>
                        {{ form.salary }}
                    </div>

                    <div class="input-group mt-2">
                        <label class="input-group-text"
                               for="{{ form.income_total.id_for_label }}">{{ form.income_total.label }}</label>
                        {{ form.income_total }}
                    </div>

                    <div class="input-group mt-2">
                        <label class="input-group-text"
                               for="{{ form.family_status.id_for_label }}">{{ form.family_status.label }}</label>
                        {{ form.family_status }}
                    </div>

                    <div class="input-group mt-2">
                        <label class="input-group-text"
                               for="{{ form.cnt_children.id_for_label }}">{{ form.cnt_children.label }}</label>
                        {{ form.cnt_children }}
                    </div>

                    {#                    <div class="input-group mt-2">#}
                    {#                        <label class="input-group-text"#}
                    {#                               for="{{ form.cnt_dependent.id_for_label }}">{{ form.cnt_dependent.label }}</label>#}
                    {#                        {{ form.cnt_dependent }}#}
                    {#                    </div>#}

                    <div class="input-group mt-2">
                        <label class="input-group-text"
                               for="{{ form.family_income.id_for_label }}">{{ form.family_income.label }}</label>
                        {{ form.family_income }}
                    </div>
                </div>
            </div>

            <div class="row Analize mt-4">
                <button class="btn btn-primary mt-4 mb-5" type="submit">Анализировать</button>
            </div>
        </form>

        {% if brute_predict|length > 1 %}
            <div class="row mt-4 text-center">
                <h4>Главный прогноз: <b>{{ predict }}</b></h4>
                <p style="color: #6c757d">Также вы можете ознакомиться со схожей аудиторий</p>
            </div>

            <div class="row mt-3 placeForTable">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Результат</th>
                        <th scope="col">Недвижимость</th>
                        <th scope="col">Автомобиль</th>
                        <th scope="col">Трудоустроен</th>
                        <th scope="col">Пенсионер</th>
                        <th scope="col">В браке</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row" class="result31">{{ brute_predict.31 }}</th>
                        <td class="Yes">Да</td>
                        <td class="Yes">Да</td>
                        <td class="Yes">Да</td>
                        <td class="Yes">Да</td>
                        <td class="Yes">Да</td>
                    </tr>
                    <tr>
                        <th scope="row" class="result30">{{ brute_predict.30 }}</th>
                        <td class="Yes">Да</td>
                        <td class="Yes">Да</td>
                        <td class="Yes">Да</td>
                        <td class="Yes">Да</td>
                        <td class="No">Нет</td>
                    </tr>
                    <tr>
                        <th scope="row" class="result29">{{ brute_predict.29 }}</th>
                        <td class="Yes">Да</td>
                        <td class="Yes">Да</td>
                        <td class="Yes">Да</td>
                        <td class="No">Нет</td>
                        <td class="Yes">Да</td>
                    </tr>
                    <tr>
                        <th scope="row" class="result28">{{ brute_predict.28 }}</th>
                        <td class="Yes">Да</td>
                        <td class="Yes">Да</td>
                        <td class="Yes">Да</td>
                        <td class="No">Нет</td>
                        <td class="No">Нет</td>
                    </tr>
                    <tr>
                        <th scope="row" class="result27">{{ brute_predict.27 }}</th>
                        <td class="Yes">Да</td>
                        <td class="Yes">Да</td>
                        <td class="No">Нет</td>
                        <td class="Yes">Да</td>
                        <td class="Yes">Да</td>
                    </tr>
                    <tr>
                        <th scope="row" class="result26">{{ brute_predict.26 }}</th>
                        <td class="Yes">Да</td>
                        <td class="Yes">Да</td>
                        <td class="No">Нет</td>
                        <td class="Yes">Да</td>
                        <td class="No">Нет</td>
                    </tr>
                    <tr>
                        <th scope="row" class="result25">{{ brute_predict.25 }}</th>
                        <td class="Yes">Да</td>
                        <td class="Yes">Да</td>
                        <td class="No">Нет</td>
                        <td class="No">Нет</td>
                        <td class="Yes">Да</td>
                    </tr>
                    <tr>
                        <th scope="row" class="result24">{{ brute_predict.24 }}</th>
                        <td class="Yes">Да</td>
                        <td class="Yes">Да</td>
                        <td class="No">Нет</td>
                        <td class="No">Нет</td>
                        <td class="No">Нет</td>
                    </tr>
                    <tr>
                        <th scope="row" class="result23">{{ brute_predict.23 }}</th>
                        <td class="Yes">Да</td>
                        <td class="No">Нет</td>
                        <td class="Yes">Да</td>
                        <td class="Yes">Да</td>
                        <td class="Yes">Да</td>
                    </tr>
                    <tr>
                        <th scope="row" class="result22">{{ brute_predict.22 }}</th>
                        <td class="Yes">Да</td>
                        <td class="No">Нет</td>
                        <td class="Yes">Да</td>
                        <td class="Yes">Да</td>
                        <td class="No">Нет</td>
                    </tr>
                    <tr>
                        <th scope="row" class="result21">{{ brute_predict.21 }}</th>
                        <td class="Yes">Да</td>
                        <td class="No">Нет</td>
                        <td class="Yes">Да</td>
                        <td class="No">Нет</td>
                        <td class="Yes">Да</td>
                    </tr>
                    <tr>
                        <th scope="row" class="result20">{{ brute_predict.20 }}</th>
                        <td class="Yes">Да</td>
                        <td class="No">Нет</td>
                        <td class="Yes">Да</td>
                        <td class="No">Нет</td>
                        <td class="No">Нет</td>
                    </tr>
                    <tr>
                        <th scope="row" class="result19">{{ brute_predict.19 }}</th>
                        <td class="Yes">Да</td>
                        <td class="No">Нет</td>
                        <td class="No">Нет</td>
                        <td class="Yes">Да</td>
                        <td class="Yes">Да</td>
                    </tr>
                    <tr>
                        <th scope="row" class="result18">{{ brute_predict.18 }}</th>
                        <td class="Yes">Да</td>
                        <td class="No">Нет</td>
                        <td class="No">Нет</td>
                        <td class="Yes">Да</td>
                        <td class="No">Нет</td>
                    </tr>
                    <tr>
                        <th scope="row" class="result17">{{ brute_predict.17 }}</th>
                        <td class="Yes">Да</td>
                        <td class="No">Нет</td>
                        <td class="No">Нет</td>
                        <td class="No">Нет</td>
                        <td class="Yes">Да</td>
                    </tr>
                    <tr>
                        <th scope="row" class="result16">{{ brute_predict.16 }}</th>
                        <td class="Yes">Да</td>
                        <td class="No">Нет</td>
                        <td class="No">Нет</td>
                        <td class="No">Нет</td>
                        <td class="No">Нет</td>
                    </tr>
                    <tr>
                        <th scope="row" class="result15">{{ brute_predict.15 }}</th>
                        <td class="No">Нет</td>
                        <td class="Yes">Да</td>
                        <td class="Yes">Да</td>
                        <td class="Yes">Да</td>
                        <td class="Yes">Да</td>
                    </tr>
                    <tr>
                        <th scope="row" class="result14">{{ brute_predict.14 }}</th>
                        <td class="No">Нет</td>
                        <td class="Yes">Да</td>
                        <td class="Yes">Да</td>
                        <td class="Yes">Да</td>
                        <td class="No">Нет</td>
                    </tr>
                    <tr>
                        <th scope="row" class="result13">{{ brute_predict.13 }}</th>
                        <td class="No">Нет</td>
                        <td class="Yes">Да</td>
                        <td class="Yes">Да</td>
                        <td class="No">Нет</td>
                        <td class="Yes">Да</td>
                    </tr>
                    <tr>
                        <th scope="row" class="result12">{{ brute_predict.12 }}</th>
                        <td class="No">Нет</td>
                        <td class="Yes">Да</td>
                        <td class="Yes">Да</td>
                        <td class="No">Нет</td>
                        <td class="No">Нет</td>
                    </tr>
                    <tr>
                        <th scope="row" class="result11">{{ brute_predict.11 }}</th>
                        <td class="No">Нет</td>
                        <td class="Yes">Да</td>
                        <td class="No">Нет</td>
                        <td class="Yes">Да</td>
                        <td class="Yes">Да</td>
                    </tr>
                    <tr>
                        <th scope="row" class="result10">{{ brute_predict.10 }}</th>
                        <td class="No">Нет</td>
                        <td class="Yes">Да</td>
                        <td class="No">Нет</td>
                        <td class="Yes">Да</td>
                        <td class="No">Нет</td>
                    </tr>
                    <tr>
                        <th scope="row" class="result9">{{ brute_predict.9 }}</th>
                        <td class="No">Нет</td>
                        <td class="Yes">Да</td>
                        <td class="No">Нет</td>
                        <td class="No">Нет</td>
                        <td class="Yes">Да</td>
                    </tr>
                    <tr>
                        <th scope="row" class="result8">{{ brute_predict.8 }}</th>
                        <td class="No">Нет</td>
                        <td class="Yes">Да</td>
                        <td class="No">Нет</td>
                        <td class="No">Нет</td>
                        <td class="No">Нет</td>
                    </tr>
                    <tr>
                        <th scope="row" class="result7">{{ brute_predict.7 }}</th>
                        <td class="No">Нет</td>
                        <td class="No">Нет</td>
                        <td class="Yes">Да</td>
                        <td class="Yes">Да</td>
                        <td class="Yes">Да</td>
                    </tr>
                    <tr>
                        <th scope="row" class="result6">{{ brute_predict.6 }}</th>
                        <td class="No">Нет</td>
                        <td class="No">Нет</td>
                        <td class="Yes">Да</td>
                        <td class="Yes">Да</td>
                        <td class="No">Нет</td>
                    </tr>
                    <tr>
                        <th scope="row" class="result5">{{ brute_predict.5 }}</th>
                        <td class="No">Нет</td>
                        <td class="No">Нет</td>
                        <td class="Yes">Да</td>
                        <td class="No">Нет</td>
                        <td class="Yes">Да</td>
                    </tr>
                    <tr>
                        <th scope="row" class="result4">{{ brute_predict.4 }}</th>
                        <td class="No">Нет</td>
                        <td class="No">Нет</td>
                        <td class="Yes">Да</td>
                        <td class="No">Нет</td>
                        <td class="No">Нет</td>
                    </tr>
                    <tr>
                        <th scope="row" class="result3">{{ brute_predict.3 }}</th>
                        <td class="No">Нет</td>
                        <td class="No">Нет</td>
                        <td class="No">Нет</td>
                        <td class="Yes">Да</td>
                        <td class="Yes">Да</td>
                    </tr>
                    <tr>
                        <th scope="row" class="result2">{{ brute_predict.2 }}</th>
                        <td class="No">Нет</td>
                        <td class="No">Нет</td>
                        <td class="No">Нет</td>
                        <td class="Yes">Да</td>
                        <td class="No">Нет</td>
                    </tr>
                    <tr>
                        <th scope="row" class="result1">{{ brute_predict.1 }}</th>
                        <td class="No">Нет</td>
                        <td class="No">Нет</td>
                        <td class="No">Нет</td>
                        <td class="No">Нет</td>
                        <td class="Yes">Да</td>
                    </tr>
                    <tr>
                        <th scope="row" class="result0">{{ brute_predict.0 }}</th>
                        <td class="No">Нет</td>
                        <td class="No">Нет</td>
                        <td class="No">Нет</td>
                        <td class="No">Нет</td>
                        <td class="No">Нет</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>

    <script type="text/javascript">
        function get_cities() {
            $.ajax({
                url: "{% url 'get_cities_info' %}",
                success: function (response) {
                    gen_city_field(response);
                },
                error: function () {
                    console.log("request (cities info) ERROR");
                }
            });
            return false;
        }

        function gen_city_field(cities) {
            console.log(cities);
        }

        get_cities();

        console.log({{ list_x | safe }});
    </script>
{% endblock %}