{% extends 'base.html' %}

{% block body %}
    <div class="container-lg">

        <div class="lite-header mb-3">
            <span><h1>Введите характеристики</h1></span>
            <!-- load file -->
            <span><input class="form-control main-file-input" id="formFileLg" type="file"></span>
        </div>

        <form action="{% url 'index' %}" method="post">
            {% csrf_token %}

            <div class="row">
                <div class="col-4">
                    <br>
                    <hr>
                    <!-- checkboxes -->
                    {% for bin_field in form %}
                        {% if bin_field.widget_type == 'checkbox' %}
                            <div class="form-check mt-2">
                                {{ bin_field }}
                                <label class="form-check-label" for="{{ bin_field.id_for_label }}">
                                    {{ bin_field.label }}
                                </label>
                            </div>
                        {% endif %}
                    {% endfor %}

                    <hr>
                    {{ form.gender }}
                </div>

                <div class="col-8">
                    <br>
                    <!-- input fields -->
                    <div class="input-group mt-2">
                        <label class="input-group-text"
                               for="{{ form.birth_year.id_for_label }}">{{ form.birth_year.label }}</label>
                        {{ form.birth_year }}
                    </div>

                    <div class="input-group mt-2">
                        <label class="input-group-text"
                               for="{{ form.city.id_for_label }}">{{ form.city.label }}</label>
                        {{ form.city }}
                    </div>

                    <div class="input-group mt-2">
                        <label class="input-group-text"
                               for="{{ form.education_type.id_for_label }}">{{ form.education_type.label }}</label>
                        {{ form.education_type }}
                    </div>

                    {#                    <div class="input-group mt-2">#}
                    {#                        <label class="input-group-text"#}
                    {#                               for="{{ form.income_type.id_for_label }}">{{ form.income_type.label }}</label>#}
                    {#                        {{ form.income_type }}#}
                    {#                    </div>#}

                    <div class="input-group mt-2">
                        <label class="input-group-text"
                               for="{{ form.salary.id_for_label }}">{{ form.salary.label }}</label>
                        {{ form.salary }}
                    </div>

                    <div class="input-group mt-2">
                        <label class="input-group-text"
                               for="{{ form.income_total.id_for_label }}">{{ form.income_total.label }}</label>
                        {{ form.income_total }}
                    </div>

                    <div class="input-group mt-2">
                        <label class="input-group-text"
                               for="{{ form.family_status.id_for_label }}">{{ form.family_status.label }}</label>
                        {{ form.family_status }}
                    </div>

                    <div class="input-group mt-2">
                        <label class="input-group-text"
                               for="{{ form.cnt_children.id_for_label }}">{{ form.cnt_children.label }}</label>
                        {{ form.cnt_children }}
                    </div>

                    {#                    <div class="input-group mt-2">#}
                    {#                        <label class="input-group-text"#}
                    {#                               for="{{ form.cnt_dependent.id_for_label }}">{{ form.cnt_dependent.label }}</label>#}
                    {#                        {{ form.cnt_dependent }}#}
                    {#                    </div>#}

                    <div class="input-group mt-2">
                        <label class="input-group-text"
                               for="{{ form.family_income.id_for_label }}">{{ form.family_income.label }}</label>
                        {{ form.family_income }}
                    </div>
                </div>
            </div>

            <div class="row Analize mt-4">
                <button class="btn btn-primary mt-4 mb-5" type="submit">Анализировать</button>
            </div>
        </form>

        <div class="row">
        </div>
    </div>

    <script type="text/javascript">
        function get_cities() {
            $.ajax({
                url: "{% url 'get_cities_info' %}",
                success: function (response) {
                    gen_city_field(response);
                },
                error: function () {
                    console.log("request (cities info) ERROR");
                }
            });
            return false;
        }

        function gen_city_field(cities) {
            console.log(cities);
        }

        get_cities();
    </script>
{% endblock %}